- if @categoryall.errors.any?
 #error_explanation
  %h2
   = "#{pluralize(@categoryall.errors.count, "error")} prohibited this categoryall from being saved:"

  %ul
   - @categoryall.errors.full_messages.each do |msg|
    %li
     = msg

.actions
 .div_class_mailstarts_categoryalls
  = f.fields_for(:mailstart, @mailstart) do |mailstart_field|
   = render(:partial=>"/mailstarts/templates_mailstarts/mailstarts_form", :locals => {:mailstart_field => mailstart_field})
  = render(:partial=>"/categoryalls/templates_categoryalls/categoryalls_form", :locals => {:categoryall_field => f})

 .div_class_subcontacts_mails
  = f.fields_for(:subcontacts, @subcontact) do |subcontact_field|
   = render(:partial=>"/subcontacts/templates_subcontacts/subcontacts_form", :locals => {:subcontact_field => subcontact_field})
   - unless @mail.nil?
    = subcontact_field.fields_for(:mail, @mail) do |mail_field|
     = render(:partial=>"/mails/templates_mails/mails_form", :locals => {:mail_field => mail_field})
