  <% if @subcontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcontact.errors.count, "error") %> prohibited this subcontact from being saved:</h2>

      <ul>
      <% @subcontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Drag and drop du sous-contact vers une catégorie</h2>
<ul>
	<li>
		Copié ce sous-contact dans cette catégorie : <%= f.radio_button :copy_cut_subcontact, "copy" %>
	</li>

	<li>
		Déplacé ce sous-contact dans cette catégorie : <%= f.radio_button :copy_cut_subcontact, "cut" %>
	</li>
</ul>
<%= f.hidden_field(:categoryall_id_source, :value => categoryall_id_source) %>
<%= hidden_field_tag("subcontact[categoryall_ids]", categoryall_id) %>
<%= f.submit("valider", :name=>"value_subcontact_to_categoryall", :id=>"id_value_subcontact_to_categoryall") %>
