%h2
 = t(".draganddrop_subcontact_to_categoryall")
%ul
 %li
  = f.label(:copy_cut_subcontact, t(".copy_subcontact_to_category")) 
  = ":"
  = f.radio_button(:copy_cut_subcontact, "copy")

 %li
  = f.label(:copy_cut_subcontact, t(".cut_subcontact_to_category")) 
  = ":"
  = f.radio_button(:copy_cut_subcontact, "cut")

= f.hidden_field(:categoryall_id_source, :value => categoryall_id_source)
= hidden_field_tag("subcontact[categoryall_ids]", categoryall_id)
= f.submit(t("common_button.submit"), :name=>"value_subcontact_to_categoryall", :id=>"id_value_subcontact_to_categoryall")
