%h2
 = t("subcontacts.edit.subcontacts_list")
.class_list_edit_button
 %ul#subcontacts
  - @categoryall.subcontacts.order(:position).each do |subcontact|
   = content_tag_for :li, subcontact do
    = subcontact_field.submit(subcontact.name, :name=>"#{@categoryall.id}_subcontact_#{subcontact.id}")
    = subcontact_field.submit("x", :name=>"button_supsubcontact_#{subcontact.id}", :class=>"class_button_delete_right")
= subcontact_field.hidden_field(:id, :id=>'subcontact_id')
%p
 = subcontact_field.label(:name)
 %br
 = subcontact_field.text_field(:name)
%p
 = subcontact_field.submit(t(".add_new_mail_adress"), :name=>"#{@subcontact.id}-#{@categoryall.id}_addmail_button")
