   <h2><%= t("subcontacts.edit.subcontacts_list") %></h2>
        <ul>
		<% @categoryall.subcontacts.each{ |subcontact| %>
                    <%= content_tag_for :li, subcontact do %>
			    <%= subcontact_field.submit(subcontact.name, :name=>"#{@categoryall.id}_subcontact_#{subcontact.id}") %><%= subcontact_field.submit("x", :name=>"button_supsubcontact_#{subcontact.id}") %>
		    <% end %>
	        <% } %>
	</ul>

        <p>
 		<%= subcontact_field.label(:name) %><br>
		<%= subcontact_field.text_field(:name) %>
	</p>

	<p>
	<%= subcontact_field.submit(t(".add_new_mail_adress"), :name=>"#{@subcontact.id}-#{@categoryall.id}_addmail_button") %>
	</p>

