<table border='0' cellpadding='0' cellspacing='0' class='table_class_mailstart'>
  <tr class='tr_class_title'>
    <td class='td_class_title' id="id_td_class_title" width='300'><%= Mailstart.human_attribute_name("name") %></td>
    <td class='title_addr_mailstarts' width='300'><%= Mailstart.human_attribute_name("mail") %></td>
    <td class='td_class_title_edition' width='100'><%= t "common_link.editing" %></td>
    <td class='td_class_title_edition_last' width='100'><%= t "common_link.removal" %></td>
  </tr>
</table>

<ul id='mailstarts'>
<% @mailstarts.each do |mailstart| %>
	<%= content_tag_for :li, mailstart do %>	
  <table border='0', cellpadding='0', cellspacing='0' class='table_class_mailstarts'>
    <tr>
      <td width='300'><%= mailstart.name %></td>
      <td width='300'><%= mailstart.mail %></td>
      <td width='101'><%= link_to image_tag(t("common_link.edit"), :size=>"18x18"), edit_mailstart_path(mailstart) %></td>
      <td class='class_link_delete_mailstarts' width='101'><%= link_to image_tag(t("common_link.delete"), :size=>"18x18"), mailstart, :confirm => t('.confirm_destroy') , :method => :delete %></td>
    </tr>
  </table>
 <% end %>
<% end %>
</ul>

<br />

<%= link_to t(".new_mailstart"), new_mailstart_path %>
