       <h2><%= t("categoryalls.edit.categoryall_of_mail_start") %></h2>
           <div class='class_list_edit_button'>
       	     <ul>       
	        <% @mailstart.categoryalls.each{ |categoryall| %>
		     <%= content_tag_for :li, categoryall do %>
			     <%= categoryall_field.submit(categoryall.name, :name=>"button_categoryall_#{categoryall.id}") %><%= categoryall_field.submit("x", :name=>"button_supcategoryall_#{categoryall.id}", :class=>"class_button_delete_left") %>
		     <% end %>
	        <% } %>
	    </ul>
         </div>
        <p>
		<%= categoryall_field.label(:name) %><br>
		<%= categoryall_field.text_field(:name) %>
	</p>

	<p>
		<%= categoryall_field.submit(t(".add_new_subcontact"), :name=>"button_addsubcontact_#{@categoryall.id}") %>
	</p>


