<div class='class_all_content_newsletter'>
   <div class='class_info_contact'>
	<ul>
		<li>
			<%= label_tag("Email de départ") %><br>
			<%= newsletter.mailstart.name %> &#60;<%= newsletter.mailstart.mail %>&#62;
		</li>

		<li>
			<%= label_tag("Catégorie choisis") %><br>
			<%= newsletter.categoryall.name %>
		</li>

		<li>
			<%= label_tag("Sous-contacts choisis") %><br>
			<ol>
				<% newsletter.subcontacts.each{ |subcontact| %>
					<%= content_tag_for :li, subcontact do %>
						<%= subcontact.name %>
					<% end %>
				<% } %>
			</ol>
		</li>

		<li>
			<%= label_tag("Liste des e-mails") %><br>
			<ol>
				<% newsletter.mails.each{ |mail| %>
					<%= content_tag_for :li, mail do %>
						<%= mail.name %> &#60;<%= mail.adress %>&#62; 
					<% end %>
				<% } %>
			</ol>
		</li>
	</ul>
   </div>

   <div class='class_content_appercu_newsletter'>
	   <ul>
	        <li>
                           <%= label_tag("Apperçu du contenu de la newsletter") %><br>
		           <%= newsletter.content.html_safe %>
		</li>
	   </ul>
   </div>
</div>
