= f.label(:programmertimer)
= f.date_select(:programmertimer)
= f.label(:activate)
= f.check_box(:activate)
= f.submit(t(".delete_work_planned"), :name=>"deletework_work_planned-#{newslettertimingprogramming.id}_newsletter")
