- unless request.path == "/categoryallslists" || request.path == "/subcontactslists" || request.path == "/mailslists"
 !!! 
 %html
  %head
   %title Prgmnewsletter 
  = stylesheet_link_tag("application")
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
  = javascript_include_tag "/javascripts/ckeditor/ckeditor"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
   .class_language 
    #flash
     - flash.each do |type, message|
      - unless message.blank? || type.to_s == "newsletter"
       %div{ :id => "flash_#{type}", :class => "message #{type}", :style => "background-color:#ccffcc; opacity:.6; border:1px solid red; position: fixed;"}
        %p{ :style=>'color:red;'}
         = message

    - unless current_user.nil?
     .div_class_title_newsletter
      %ul
       %li
        = get_title_newsletter(controller_name,controller.action_name)

    .div_class_language
     %ul
      %li
       = get_flag_french_or_english(I18n.locale)
   - unless current_user.nil? || request.path.split("/")[1] == "result_dragondropmails" || request.path.split("/")[1] == "result_dragondropsubcontacts" || request.path.split("/")[1] == "choosesubcontacts_to_categoryalls" || request.path.split("/")[1] == "choosemails_to_subcontacts"
    #menu
     %ul
      %li
       = get_menu_link("newsletters","index", controller_name,controller.action_name,request.path) 
      %li
       = get_menu_link("newsletters","new",controller_name,controller.action_name,request.path)

      %li
       = get_menu_link("mailstarts", "index", controller_name,controller.action_name,request.path)
      %li
       = get_menu_link("newsletters","statistics",controller_name,controller.action_name,request.path)
      %li
       = link_to(image_tag("newsletter_icones/deconnect_icon.png", :size=>"60x60"), destroy_user_session_path, :title=>t("common_link.logout"))

    #id_content
     = yield
- else
 - if request.path == "/categoryallslists" || request.path == "/subcontactslists" || request.path == "/mailslists"
  = yield
